.hero {
  position: relative;
  background-image: image-set(url("/herobg.png") 1x, url("/herobgx2.png") 2x);
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 60px;
}

.overlay {
  text-align: center;
}

.title {
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
}

.button {
  width: 276px;
  height: 44px;
  display: inline-block;
  padding: 12px 88px;
  font-size: 16px;
  background-color: #3470ff;
  color: #fff;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0b44cd;
  text-decoration: none;
}

@media (max-width: 767px) {
  .hero {
    padding-bottom: 40px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 12px;
  }

  .subtitle {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .button {
    width: 100%;
    max-width: 260px;
    padding: 12px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .hero {
    height: 600px;
    padding-bottom: 50px;
  }

  .title {
    font-size: 48px;
  }

  .subtitle {
    font-size: 20px;
  }

  .button {
    width: 260px;
    padding: 12px 60px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .hero {
    height: 650px;
    padding-bottom: 60px;
  }

  .title {
    font-size: 56px;
  }

  .subtitle {
    font-size: 22px;
  }

  .button {
    width: 270px;
    padding: 12px 80px;
  }
}
