.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 120px;
  background-color: #f2f4f7;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span:first-child {
  color: black;
}

.logo span:last-child {
  color: blue;
}

.navLink {
  margin-left: 32px;
  font-size: 16px;
  text-decoration: none;
  color: #101828;
  font-weight: 500;
  padding: 24px 0;
}

.navLink:hover {
  text-decoration: underline;
}

.active {
  color: #0b44cd;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
  }

  .navLink {
    margin-left: 0;
    padding: 12px 0;
    font-size: 18px;
  }

  nav {
    display: flex;
    gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 20px 40px;
  }

  .navLink {
    margin-left: 24px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .header {
    padding: 24px 80px;
  }
}

